Create a function based on the input and output. Look at the examples, there is a pattern.

In [130]:
def secret(in_string):
  in_string_clone = in_string
  in_string = in_string.split(".")
  output = f'<{in_string[0]} class="{" ".join(in_string[1:])}">{in_string[0]}>'
  print(f'secret("{in_string_clone}") ➞ {output}')
    
secret("p.one.two.three")
secret("p.one")
secret("p.four.five")

secret("p.one.two.three") ➞ <p class="one two three">p>
secret("p.one") ➞ <p class="one">p>
secret("p.four.five") ➞ <p class="four five">p>

Create a function which counts how many lone 1s appear in a given number. Lone means the number doesn't appear twice or more in a row

In [131]:
import re
def count_lone_ones(in_num):
  pattern = r"(?<!1)1(?!1)" 
  output = re.findall(pattern,str(in_num))
  print(f'coint_lone_ones({in_num}) ➞ {len(output)}')
    
count_lone_ones(101)
count_lone_ones(1191)
count_lone_ones(1111)
count_lone_ones(462)

coint_lone_ones(101) ➞ 2
coint_lone_ones(1191) ➞ 1
coint_lone_ones(1111) ➞ 0
coint_lone_ones(462) ➞ 0

Write a method that accepts two integer parameters rows and cols. The output is a 2d array of numbers displayed in column-major order, meaning the numbers shown increase sequentially down each column and wrap to the top of the next column to the right once the bottom of the current column is reached.

In [132]:
def printGrid(in_one,in_two):
  output = []
  for ele_1 in range(in_one):
    temp = []
    for ele_2 in range(in_two):
      temp.append(ele_1+(in_one*ele_2)+1)
    output.append(temp)
  print(f'printGrid{in_one,in_two} ➞ {output}')
    
printGrid(3, 6)
printGrid(5, 3)  
printGrid(4, 1)

printGrid(3, 6) ➞ [[1, 4, 7, 10, 13, 16], [2, 5, 8, 11, 14, 17], [3, 6, 9, 12, 15, 18]]
printGrid(5, 3) ➞ [[1, 6, 11], [2, 7, 12], [3, 8, 13], [4, 9, 14], [5, 10, 15]]
printGrid(4, 1) ➞ [[1], [2], [3], [4]]

Given a list of integers, return the smallest positive integer not present in the list.<br>
Here is a representative example.<br>
Consider the list: [-2, 6, 4, 5, 7, -1, 7, 1, 3, 6, 6, -2, 9, 10, 2, 2]<br>
After reordering, the list becomes: [-2, -2, -1, 1, 2, 2, 3, 4, 5, 6, 6, 6, 7, 7, 9, 10]<br>
from which we see that the smallest missing positive integer is 8.

In [133]:
def min_miss_pos(in_list):
  in_list_clone = in_list.copy()
  in_list = sorted(in_list)
  output = -1
  for ele in range(1,max(in_list)+1):
    if ele not in in_list:
      output = ele
      break
  print(f'min_miss_pos({in_list_clone}) ➞ {in_list} ➞ {output}')
    
min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2])
min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9])
min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9])

min_miss_pos([-2, 6, 4, 5, 7, -1, 1, 3, 6, -2, 9, 10, 2, 2]) ➞ [-2, -2, -1, 1, 2, 2, 3, 4, 5, 6, 6, 7, 9, 10] ➞ 8
min_miss_pos([5, 9, -2, 0, 1, 3, 9, 3, 8, 9]) ➞ [-2, 0, 1, 3, 3, 5, 8, 9, 9, 9] ➞ 2
min_miss_pos([0, 4, 4, -1, 9, 4, 5, 2, 10, 7, 6, 3, 10, 9]) ➞ [-1, 0, 2, 3, 4, 4, 4, 5, 6, 7, 9, 9, 10, 10] ➞ 1

Google is launching a network of autonomous pizza delivery drones and wants you to create a flexible rewards system (Pizza Points™) that can be tweaked in the future. The rules are simple: if a customer has made at least N orders of at least Y price, they get a FREE pizza!<br>
Create a function that takes a dictionary of customers, a minimum number of orders and a minimum order price. Return a list of customers that are eligible for a free pizza.

In [134]:
def pizza_points(in_dict,min_order,min_price):
  output = []
  for customer in in_dict.keys():
    if len([order_price for order_price in in_dict[customer] if order_price > min_price]) > min_order:
      output.append(customer)
  print(f'pizza_points{"customers",min_order,min_price} ➞ {output}')

customers = {
  "Batman": [22, 30, 11, 17, 15, 52, 27, 12],
  "Spider-Man": [5, 17, 30, 33, 40, 22, 26, 10, 11, 45]
}
    
pizza_points(customers, 5, 20)
pizza_points(customers, 3, 10)
pizza_points(customers, 5, 100)

pizza_points('customers', 5, 20) ➞ ['Spider-Man']
pizza_points('customers', 3, 10) ➞ ['Batman', 'Spider-Man']
pizza_points('customers', 5, 100) ➞ []