Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [26]:
guess_me = 7
if guess_me < 7:
  print("too low")
elif guess_me > 7:
  print("too high")
else:
  print("just right")

just right

Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [27]:
guess_me = 7
start = 1
while start <= guess_me:
  if start < guess_me:
    print("too low")
  elif start == guess_me:
    print("found it!")
    break
  start += 1

too low
too low
too low
too low
too low
too low
found it!

Print the following values of the list [3, 2, 1, 0] using a for loop.

In [28]:
ls = [3, 2, 1, 0]

In [30]:
for i in ls:
  print(i)

3
2
1
0

Use a list comprehension to make a list of the even numbers in range(10)

In [33]:
ls = [i for i in range(10) if i % 2 ==0]
print(ls)

[0, 2, 4, 6, 8]

Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [34]:
squares = {i: i * i for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [35]:
odd = set(i for i in range(10) if i%3 == 0)

In [36]:
odd

{0, 3, 6, 9}

Use a generator comprehension to return the string 'Got' and a number for the numbers in range(10). Iterate through this by using a for loop.

In [37]:
string_generator = ("Got " + str(i) for i in range(10))
for item in string_generator:
  print(item)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

Define a function called good that returns the list ['Harry', 'Ron', 'Hermione']

In [39]:
def good():
  return ['Harry', 'Ron', 'Hermione']


good()

['Harry', 'Ron', 'Hermione']

Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned

In [42]:
def get_odds():
  for i in range(1, 10):
    if i % 2 != 0:
      yield i
count = 1
for i in get_odds():
  if count == 3:
    print("The third odd number is ", i)
    break
  count += 1

The third odd number is  5

 Define an exception called OopsException. Raise this exception to see what happens. Then writethe code to catch this exception and print 'Caught an oops'

In [47]:
class OopsException(Exception):
    pass
try:
    #raiseException(-1)
    raise OopsException()
except OopsException as err:
    print('Caught an oops')

Caught an oops

Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit',

'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].

In [48]:
titles = ['Creature of Habit','Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
print(movies)

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}