Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a
file named test.txt.

In [92]:
test1 = 'This is a test of the emergency text system,'
file1 = open('test.txt', 'w')
file1.write(test1)

44

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [95]:
file = open('test.txt', 'r')
test2 = file.readline()
print(test2)
print(test1 == test2)
#as the test case returns True so there is no difference between them

This is a test of the emergency text system,
True

Create a CSV file called books.csv by using these lines:

title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [97]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv', 'w') as file:
  writer = csv.writer(file)
  writer.writerows(rows)

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer)

In [99]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('create table books(title varchar(20), author varchar(20), year int)')
conn.commit()

Read books.csv and insert its data into the book table.

In [101]:
import pandas as pd
dataset = pd.read_csv('books.csv')
dataset.to_sql('books', conn, if_exists = 'append', index = False)

Select and print the title column from the book table in alphabetical order.

In [103]:
c.execute("select title from books order by title")
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

From the book table, select and print all columns in the order of publication.

In [106]:
c.execute("select * from books order by year")
for i in c.fetchall():
  print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [107]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
rows = conn.execute('select * from books')
for i in rows:
  print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

 Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [108]:
!pip install redis

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis
  Downloading redis-4.4.0-py3-none-any.whl (236 kB)
     |████████████████████████████████| 236 kB 5.1 MB/s
Requirement already satisfied: async-timeout>=4.0.2 in /usr/local/lib/python3.8/dist-packages (from redis) (4.0.2)
Installing collected packages: redis
Successfully installed redis-4.4.0

In [112]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)