Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [ ]:
"""
SELECT * FROM Worker WHERE FIRST_NAME NOT IN ('Vipul','Satish');
"""

Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [ ]:
"""
SELECT * FROM Worker WHERE FIRST_NAME LIKE '______h';
"""

Write a query to validate Email of Employee.

In [ ]:
"""
SELECT * FROM Worker WHERE email LIKE "_%@_%._%"
"""