Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
"""
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5;
"""

Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
"""
SELECT * FROM employees ORDER BY salary ASC;
"""